<div class="box">
    <div class="grid grid-cols-6">
        <div class="col-span-3">
            <div class="flex items-center w-full">
                <img class="w-[5rem] h-[5rem] object-cover object-top" src="https://rukminim1.flixcart.com/image/612/612/knyxqq80/salwar-kurta-dupatta/q/i/q/32-skd7385-biba-original-imag2jag2zzz3shw.jpeg?q=70" alt="" />
                <div class="ml-5">
                    <p class="font-semibold text-lg">
                        Women Yellow Dress
                    </p>
                    <p class="text-sm text-gray-400">Size : M</p>
                    <p class="text-sm text-gray-400">Color : Yellow</p>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <p>₹1422</p>
        </div>
        <div class="col-span-2">
            <p class="font-semibold text-lg">Expected Delivery On Mar 03</p>
            <p class="text-sm">Your Item Has Been Delivered</p>
        </div>
    </div>
</div>